*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
}

/*HEADER*/
.cabecalho{
    background-color: #7C71FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.25em;
    }

.lista-menu{
    background-color: #FFFFFF;
    display: inline-block;
    padding: 0.625em;
    border-radius: 3.125em;
    margin-right: 0.625em;
}

a {
    text-decoration: none;
}

.info-usuario{
    color: #FFFFFF;
    margin-left: 1.875em;   
}

.nome{
    text-transform: uppercase;
}

/*************************Início do Design Responsivo*************************/
@media (max-width: 48em) {
    .lista-menu {
        margin-right: 0;
    }
    .info-usuario {
        margin-left: 0.625em;
    }
}

/*************************Fim do Design Responsivo*************************/

/*MAIN*/
/**NOVA COLEÇÃO**/

.nova-colecao{
    background-color: #D7E2FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33.25em;
}

.titulo-subtitulo{
    color: #200065; 
    text-align: center;   
}

.titulo-principal {
    font-family: 'Abril Fatface', serif;
    font-size: 2.5em;
    font-weight: 400;
    padding-top: 1.813em;
    height: 3.375em;
}

.subtitulo-principal {
    font-size: 2.25em;
    font-weight: 400;
    padding-bottom: 1.688em;
}

.negrito {
    font-weight: 800;
}

.produtos-da-loja {
    display: flex;
    justify-content: center;
    width: 100%;
}

.produtos-da-loja li{
    margin-bottom: 2.188em;
    margin-left: 2.875em;
    margin-right: 2.875em;
    list-style: none;
    width: 17.75em;
    height: 17.75em;
    overflow: hidden;
}

.produtos-da-loja img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.link-externo{
    color: #0075FF;
    text-decoration-line: underline;
    text-align: center;
    font-size: 1.125em;
    font-weight: 400;
    height: 1.375em;
    margin-bottom: 2.188em;
}

/**CLIENTES**/
.secao-clientes {
    background-color: #AEBFEB;
    color: #200065; 
    height: 38.5em;
    padding-left: 3.125em;
    padding-right: 3.5em;
}

.titulo-sessao {
    text-align: center;
    font-family: 'Abril Fatface', serif;
    font-size: 2em;
    font-weight: 400;
    padding-top: 2.313em;
    margin-bottom: 2.125em;
}

.estrutura-comentarios{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4.688em; 
}

.feedback {
    background-color: #D4E0FF;
    color: #1E1E1E;
    margin-left: 1.625em;
    width: 26.688em;
    height: 26.688em;
}

.nome-cliente {
    font-family: 'Abril Fatface', serif;
    font-size: 2em;
    font-weight: 400;
    margin-left: 3em;
    margin-top: 2.375em
}

.data-feedback{
    font-size: 1.125em;
    font-weight: 400;
    font-style: italic;
    margin-left: 3em;
    margin-bottom: 3.25em;
}

.relato-cliente {
    text-align: justify;
    font-size: 1.5em;
    padding-left: 2.813em;
    padding-right: 1.625em;
    padding-bottom: 7.25em;
}

/**PEDIDOS**/
.secao-pedidos{
    background-color: #D7E2FF;
    color: #200065;
    height: 27.563em;
}

.tabela {
    background-color: #FFFFFF;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 0.25em;    
}

thead{
    background-color: #7C71FF;
}

th, td{
    width: 14.375em;
    height: 1.125em;
    padding-left: 0.625em;
    padding-top: 0.938em;
    padding-bottom: 1.063em;
    text-align: left;
    color: #1E1E1E;
    border: 0.063em solid #1E1E1E;
    border-collapse: collapse;
}

/**FALE CONOSCO**/
.secao-faleconosco{
    background-color: #AEBFEB;
    color: #200065;
    height: 42.813em;
    padding: 1.813em 1.25em 2.188em;
}

.formulario{
    width: 71.313em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo-form{
    width: 71.313em;
    height: 1.75em;
    color: #000000;
    font-size: 0.875em;
    font-weight: 400;
}

.caixa-form {
    align-items: flex-start;
    padding: 0.625em 0.938em;
    border: 0.063em solid #AAAAAD;
    border-radius: 0.625em;
    background: #FFFFFF;
    width: 71.313em;
}

.caixa-msg{
    display: flex;
    width: 71.313em;
    height: 7em;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 0.625em 0.938em;
    border: 0.063em solid #AAAAAD;
    border-radius: 0.625em;
    background: #FFFFFF;
}

.configurar-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.063em;
    margin-bottom: 4.875em;
}

.botao-enviar{
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    width: 16.875em;
    height: 3em;
    padding: 0.625em 0.938;
    background-color: #313131;
    border: 0.063em solid #313131;
    border: 0.063em solid #313131;
    border-radius: 0.625em;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.375em;
    font-weight: 400;
}

/*************************Inicio do Design Responsivo*************************/

/**Nova Coleção**/
@media (max-width: 48em) {
    .nova-colecao {
        height: auto;
    }

    .produtos-da-loja {
        flex-direction: column;
    }

    .produtos-da-loja li {
        margin: auto;
        width: 100%;
        height: auto;
    }

    .titulo-principal {
        font-size: 2em;
        padding-top: 0.938em;
    }
    .subtitulo-principal {
        font-size: 1.75em;
        padding-bottom: 0.625em;
    }
}

/**Clientes**/
@media (max-width: 48em) {
    .secao-clientes {
        height: auto;
    }
    .titulo-sessao {
        font-size: 1.75em;
    }
    .estrutura-comentarios {
        flex-wrap: wrap;
        gap: 0.625em;
    }
    .feedback {
        width: 100%;
    }
    .nome-cliente {
        font-size: 1.5em;
        margin-left: 0;
        margin-top: 1.25em;
    }
    .data-feedback {
        font-size: 1em;
        margin-left: 0;
        margin-bottom: 1.25em;
    }
}

/*Pedidos*/

@media (max-width: 48em) {
    .secao-pedidos {
        height: auto;
    }
    
    .tabela {
        overflow-x: auto;
    }
    th, td {
        padding-left: 0.313em;
        padding-top: 0.625em;
        padding-bottom: 0.75em;
        font-size: 0.875em;
    }
}

/*Fale Conosco*/

@media (max-width: 48em) {
    .formulario {
        width: 90%;
        flex-wrap: wrap;
        margin-left: 0.625em;
        margin-right: 0.625em;
    }
    .titulo-form, .caixa-form, .caixa-msg {
        width: 90%;
    }
}

@media (max-width: 48em) {
    .botao-enviar {
        width: 90%;
        justify-content: center;
        font-size: 1.125em;
        margin-top: 1.25em;
    }
}

@media (max-width: 48em) {
    .secao-faleconosco {
        height: auto;
    }
}

/*************************Fim do Design Responsivo*************************/

/*RODAPÉ*/
.rodape{
    background-color: #3F3F3F;
    display: flex;
    align-items: center;
    height: 6.75em;
}

.texto-rodape{
    color: #FFFFFF;
    font-size: 1.25em;
    margin-left: 1.875em;
}

/*************************Inicio do Design Responsivo*************************/

@media (max-width: 48em) {
    .rodape {
        flex-direction: column; /* Coluna em vez de linha */
        align-items: flex-start; /* Alinhamento à esquerda */
        padding: 0.625em;
    }
}

@media (max-width: 48em) {
    .texto-rodape {
        font-size: 1em; /* Reduza o tamanho da fonte */
    }
}
/*************************Fim do Design Responsivo*************************/